body {
  background-color: grey;
}

.square{
    width: 100px;
    height: 100px;
}

.centerColumn {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-color: yellow;
}

.centerRow {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-color: green;
}

table {
  border: 1px solid black;
}

.X {
  background-color: teal;
}

.O {
  background-color: orange;
}
